.block_ {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_1 {
  display: block;
  font-size: 1.83333em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 12pt 0 0;
  padding: 0;
}
.block_2 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0 2em;
  padding: 0;
}
.block_3 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0 4em;
  padding: 0;
}
.block_4 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0 6em;
  padding: 0;
}
.block_5 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0 8em;
  padding: 0;
}
.block_6 {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_7 {
  display: block;
  font-weight: bold;
  line-height: 14.4pt;
  text-align: center;
  margin: 12pt 0 0;
  padding: 0;
}
.block_8 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 5pt 0;
  padding: 0;
}
.block_9 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 14.4pt;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_10 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_11 {
  display: block;
  line-height: 14.4pt;
  text-align: center;
  margin: 12pt 0 0;
  padding: 0;
}
.block_12 {
  display: block;
  line-height: 14.4pt;
  text-align: center;
  margin: 12pt 0 0;
  padding: 0;
}
.block_13 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_14 {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 12pt 0 0;
  padding: 0;
}
.block_15 {
  display: block;
  font-weight: bold;
  line-height: 14.4pt;
  text-align: right;
  margin: 12pt 0 0;
  padding: 0;
}
.block_16 {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 12pt 0 0;
  padding: 0;
}
.block_17 {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_18 {
  display: block;
  font-weight: bold;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_19 {
  color: #00F;
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_20 {
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_21 {
  display: block;
  font-size: 0.625em;
  font-weight: bold;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_22 {
  color: #00F;
  display: block;
  line-height: 14.4pt;
  text-align: center;
  margin: 12pt 0 0;
  padding: 0;
}
.block_23 {
  display: block;
  font-style: italic;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_24 {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  text-align: justify;
  margin: 12pt 0 0;
  padding: 0;
}
.block_25 {
  color: #00F;
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: -14pt;
  margin: 12pt 0 0 14pt;
  padding: 0;
}
.block_26 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0 24pt;
  padding: 0;
}
.block_27 {
  color: #00F;
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 0 0 24pt;
  padding: 0;
}
.block_28 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  text-indent: -14pt;
  margin: 12pt 0 0 14pt;
  padding: 0;
}
.block_29 {
  display: block;
  line-height: 14.4pt;
  text-align: justify;
  margin: 12pt 5pt 0;
  padding: 0;
}
.calibre {
  color: #000;
  display: block;
  font-family: "Cambria", serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
}
.calibre2 {
  font-style: italic;
}
.calibre3 {
  font-weight: bold;
}
.calibre4 {
  text-decoration: none;
}
.calibre5 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre6 {
  white-space: pre-wrap;
}
.text_ {
  color: #000;
}
.text_1 {
  color: #467886;
  text-decoration: underline solid;
}
.text_2 {
  color: #00F;
  font-weight: bold;
  text-decoration: none;
}
.text_3 {
  color: #000;
  font-weight: bold;
}
.text_4 {
  color: #00F;
  font-weight: bold;
}
.text_5 {
  color: #00F;
  text-decoration: none;
}
.text_6 {
  color: #000;
  font-style: italic;
}
.text_7 {
  color: #00F;
  font-style: italic;
  text-decoration: none;
}
.text_8 {
  color: #00F;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
.text_9 {
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
.text_10 {
  color: #00F;
}
